<h2>Resend SMS Token</h2>

<%= form_for(resource, :as => resource_name, :url => sms_session_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :phone %><br />
  <%= f.text_field :phone %></p>

  <p><%= f.label :sms_token %><br />
    <%= f.text_field :sms_token %></p>

  <p><%= f.submit "Sign In" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>